.post-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .post {
    width:  calc(50% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .post h2 {
    margin-top: 0;
  }
  
  .post p {
    margin-bottom: 10px;
  }
  
  .post button {
    font-size: 14px;
    padding: 5px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .post button + button {
    margin-left: 10px;
  }
  